<div class="search">
    <label for="search__input--location">Location</label>
    <input type="text" class="search__input--location" ng-model="vm.locationQuery">
    <button class="search__submit--location" ng-click="vm.searchLocationUsers(vm.locationQuery)">Search</button>
</div>
<div class="user" ng-repeat="user in vm.users">
    <a href="{{ user.html_url }}" target="_blank">
        <div class="user__avatar"><img ng-src="{{ user.avatar_url }}" alt=""></div>
        <div class="user__username">{{ user.login }}</div>
    </a>
</div>

<div ng-if="vm.pagination.next"><button ng-click="vm.loadMoreUsers(vm.pagination.next)">Load more</button></div>
